---
http_interactions:
- request:
    method: get
    uri: http://www.boredapi.com/api/activity
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"82-KMvPHiVV22dD2LIGFYF4sWsF714"
    body:
      encoding: UTF-8
      string: '{"activity":"Make homemade ice cream","type":"cooking","participants":1,"price":0.2,"link":"","key":"3818400","accessibility":0.2}'
  recorded_at: Tue, 28 Feb 2023 23:30:05 GMT
recorded_with: VCR 6.1.0
