---
http_interactions:
- request:
    method: get
    uri: http://www.boredapi.com/api/activity
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ab-EDcMVXYLfH+OsdVcG+/P/fjwkYI"
    body:
      encoding: UTF-8
      string: '{"activity":"Do a jigsaw puzzle","type":"recreational","participants":1,"price":0.1,"link":"https://en.wikipedia.org/wiki/Jigsaw_puzzle","key":"8550768","accessibility":1}'
  recorded_at: Tue, 28 Feb 2023 23:10:09 GMT
recorded_with: VCR 6.1.0
