---
http_interactions:
- request:
    method: post
    uri: https://language.googleapis.com/v1/documents:analyzeSentiment?key=<GOOGLE_API_KEY>
    body:
      encoding: UTF-8
      string: '{"document":{"content":"Hello. I am a muffin. Eat me.","language":"","type":"PLAIN_TEXT"},"encodingType":"UTF8"}'
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "documentSentiment": {
            "magnitude": 0.5,
            "score": -0.1
          },
          "language": "en",
          "sentences": [
            {
              "text": {
                "content": "Hello.",
                "beginOffset": 0
              },
              "sentiment": {
                "magnitude": 0.1,
                "score": 0.1
              }
            },
            {
              "text": {
                "content": "I am a muffin.",
                "beginOffset": 7
              },
              "sentiment": {
                "magnitude": 0.3,
                "score": -0.3
              }
            },
            {
              "text": {
                "content": "Eat me.",
                "beginOffset": 22
              },
              "sentiment": {
                "magnitude": 0.1,
                "score": -0.1
              }
            }
          ]
        }
  recorded_at: Tue, 28 Feb 2023 23:01:16 GMT
recorded_with: VCR 6.1.0
