---
http_interactions:
- request:
    method: post
    uri: https://language.googleapis.com/v1/documents:analyzeSentiment?key=AIzaSyBRXoL8OCDz8-liqcEbHD1K9D2uuRC7Pko
    body:
      encoding: UTF-8
      string: '{"document":{"content":"Hello. I am a muffin. Eat me.","language":"","type":"PLAIN_TEXT"},"encodingType":"UTF8"}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "error": {
            "code": 400,
            "message": "Invalid JSON payload received. Unknown name \"{\"document\":{\"content\":\"Hello. I am a muffin. Eat me.\",\"language\":\"\",\"type\":\"PLAIN_TEXT\"},\"encodingType\":\"UTF8\"}\": Cannot bind query parameter. Field '{\"document\":{\"content\":\"Hello' could not be found in request message.",
            "status": "INVALID_ARGUMENT",
            "details": [
              {
                "@type": "type.googleapis.com/google.rpc.BadRequest",
                "fieldViolations": [
                  {
                    "description": "Invalid JSON payload received. Unknown name \"{\"document\":{\"content\":\"Hello. I am a muffin. Eat me.\",\"language\":\"\",\"type\":\"PLAIN_TEXT\"},\"encodingType\":\"UTF8\"}\": Cannot bind query parameter. Field '{\"document\":{\"content\":\"Hello' could not be found in request message."
                  }
                ]
              }
            ]
          }
        }
  recorded_at: Fri, 24 Feb 2023 03:36:37 GMT
recorded_with: VCR 6.1.0
