---
http_interactions:
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?participants=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8d-kCHcv1nAi41TxLMowrAUkBepcxc"
    body:
      encoding: UTF-8
      string: '{"activity":"Play a game of tennis with a friend","type":"social","participants":2,"price":0.1,"link":"","key":"1093640","accessibility":0.4}'
  recorded_at: Tue, 28 Feb 2023 23:01:14 GMT
recorded_with: VCR 6.1.0
