---
http_interactions:
- request:
    method: get
    uri: http://www.boredapi.com/api/activity
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7c-4jvPMtsLmkfDZmdaO8l0H8vx7Js"
    body:
      encoding: UTF-8
      string: '{"activity":"Organize your pantry","type":"busywork","participants":1,"price":0,"link":"","key":"3954882","accessibility":0}'
  recorded_at: Tue, 28 Feb 2023 23:26:32 GMT
recorded_with: VCR 6.1.0
