---
http_interactions:
- request:
    method: get
    uri: http://www.boredapi.com/api/activity
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"80-BfjPQ6O447dRxZKn538K/0I2r5E"
    body:
      encoding: UTF-8
      string: '{"activity":"Make a couch fort","type":"recreational","participants":1,"price":0,"link":"","key":"2352669","accessibility":0.08}'
  recorded_at: Sat, 18 Mar 2023 21:36:26 GMT
recorded_with: VCR 6.1.0
