---
http_interactions:
- request:
    method: post
    uri: https://language.googleapis.com/v1/documents:analyzeSentiment?key=<GOOGLE_API_KEY>
    body:
      encoding: UTF-8
      string: '{"document":{"content":"Die in a dumpster fire you muffin boy.","language":"","type":"PLAIN_TEXT"},"encodingType":"UTF8"}'
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "documentSentiment": {
            "magnitude": 0.8,
            "score": -0.8
          },
          "language": "en",
          "sentences": [
            {
              "text": {
                "content": "Die in a dumpster fire you muffin boy.",
                "beginOffset": 0
              },
              "sentiment": {
                "magnitude": 0.8,
                "score": -0.8
              }
            }
          ]
        }
  recorded_at: Tue, 28 Feb 2023 23:30:06 GMT
recorded_with: VCR 6.1.0
