---
http_interactions:
- request:
    method: get
    uri: http://www.boredapi.com/api/activity
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8a-MtTpA5zJU3NtjUui+IJ2t7njp0k"
    body:
      encoding: UTF-8
      string: '{"activity":"Buy a new house decoration","type":"recreational","participants":1,"price":0.4,"link":"","key":"3456114","accessibility":0.3}'
  recorded_at: Tue, 28 Feb 2023 23:26:33 GMT
recorded_with: VCR 6.1.0
