---
http_interactions:
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?participants=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"93-4XZMmx/UVUZ6qTW+5RgITvGvNfA"
    body:
      encoding: UTF-8
      string: '{"activity":"Catch up with a friend over a lunch date","type":"social","participants":2,"price":0.2,"link":"","key":"5590133","accessibility":0.15}'
  recorded_at: Tue, 28 Feb 2023 23:01:16 GMT
recorded_with: VCR 6.1.0
